.customer-row:hover {
    cursor: pointer;
}

.customer-row {
    padding: 10px;
}

.graphs-back:hover {
    cursor: pointer;
}

.expense-date {
    color: #959595;
}

.expense-amount {
    margin-top: 10px;
}