<!--<section ng-controller="HomeController">-->

<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>My<strong>Finance</strong></h1>
                    <h3>Helping families with their financial planning</h3>
                    <hr class="intro-divider">
                    <!--<ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Death to the mistakes:</h2>
                <p class="lead">Households that do not have enough financial education are prone be financially

unstable to gain debt. While keep repeating the same mistakes and without being able

to easily receive a professional guidance.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/modules/core/client/img/home/ipad.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->


<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">The system<br>advisors site</h2>
                <p class="lead">Our system will provide an easy access to many professional financial advisors while

allowing the users to use our mobile platform to keep track of their expenses. The

advisors will be able to observe the users expenses and provide feedback and

guidance.
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/modules/core/client/img/home/quicken2015mac-100408931-large_11659092.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Join us today and be<br>Part of our community</h2>
                <p class="lead home-footer-text">&copy 2016 My<strong>Finance</strong> LTD. All Rights Reserverd.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/modules/core/client/img/home/FinancialAdvisorMac1.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<!--</section>-->
