<section class="container">
    <div class="page-header">
        <h1>Statistics - <i>{{ vm.customer.firstName }}</i></h1>
    </div>
    <div ng-show="!vm.getExpensesForCustomer || vm.getExpensesForCustomer.length == 0">
        <h4>No Expenses for  {{ vm.customer.firstName }}!</h4>
    </div>
    <div ng-show="vm.getExpensesForCustomer && vm.getExpensesForCustomer.length > 0">

        <div class="row">
            <h3>This month</h3>
            <div class="col-lg-4 col-sm-12" id="pie-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">By category</div>
                    <div class="panel-body">
                        <canvas id="pie" height="175" class="chart chart-pie chart-xs" chart-data="thisMonthDataPie" chart-labels="thisMonthLabelsPie" click="handleThisMonthPieClick"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12" id="pie-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Weekly expenses (All categories)</div>
                    <div class="panel-body">
                        <canvas height="80" id="bar" class="chart chart-bar" chart-data="thisMonthDataBar" chart-labels="monthLabelsBar" chart-series="monthSeriesBar" click="handleThisMonthBarClick"></canvas>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <h3>Last month</h3>
            <div class="col-lg-4 col-sm-12" id="pie-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">By category</div>
                    <div class="panel-body">
                        <canvas id="pie" height="175" class="chart chart-pie chart-xs" chart-data="lastMonthDataPie" chart-labels="lastMonthLabelsPie" click="handleLastMonthPieClick"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12" id="pie-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Weekly expenses (All categories)</div>
                    <div class="panel-body">
                        <canvas height="80" id="bar" class="chart chart-bar" chart-data="lastMonthDataBar" chart-labels="monthLabelsBar" chart-series="monthSeriesBar" click="handleLastMonthBarClick"></canvas>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <h3>This year</h3>
            <div class="col-sm-12" id="pie-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Yearly expenses (All categories)</div>
                    <div class="panel-body">
                        <canvas height="80" id="bar" class="chart chart-bar" chart-data="thisYearDataBar" chart-labels="thisYearLabelsBar" chart-series="thisYearSeriesBar"  click="handleThisYearBarClick"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="graphs-back" ng-click="$back()">Back</a>
</section>
