<section class="container">
    <div class="page-header">
        <h1>Customers:</h1>
    </div>
    <!-- data-ui-sref="customers.view({ customerId: customer._id })" -->
    <div class="row">
        <div ng-show="vm.customers && vm.customers.length > 0">
            <div class="list-group col-sm-3 ">
            

                <div data-ng-repeat="customer in vm.customers" class="list-group-item">
                    <div ng-click="vm.getExpensesForCustomer(customer._id)" class="customer-row">
                        <small class="list-group-item-text">
        <span data-ng-if="customer.displayName" data-ng-bind="customer.displayName"></span>
        <span data-ng-if="!customer.displayName">Deleted User</span>
      </small>
                        <div class="pull-right">
                            <a ui-sref="customers.graph({customerId: customer._id})" ng-click="$event.stopPropagation()">Graphs</a>
                        </div>
                        <h4 class="list-group-item-heading" data-ng-bind="customer.name"></h4>

                    </div>
                </div>
            </div>
            <div class="list-group col-sm-9">
                <h3 class="text-center">Expenses:</h3>

                <div ng-hide="vm.currentCustomerExpenses && vm.currentCustomerExpenses.length">
                    <br>
                    <h4 class="text-center">No expenses for current customer</h4>
                </div>
                <div ng-show="vm.currentCustomerExpenses && vm.currentCustomerExpenses.length">


                    <a data-ng-repeat="expense in vm.currentCustomerExpenses | orderBy: '-expenseDate'" data-ui-sref="expenses.view({ expenseId: expense._id })" class="list-group-item">
                        <!--data-ng-if="vm.currentCustomer._id==expense.user._id"-->
                        <small class="list-group-item-text">
      <span data-ng-if="expense.user" data-ng-bind="expense.user.displayName"></span>
      <span data-ng-if="!expense.user">Deleted User</span>
      <span class="expense-date" data-ng-if="expense.user" data-ng-bind="expense.expenseDate | date"></span> - <span data-ng-bind="expense.name"></span>
    </small>
    <br>
                        <h3 class="list-group-item-heading expense-amount" data-ng-bind="expense.amount | currency:'₪ ':2"></h3>

                    </a>
                </div>
                <div>

                </div>
            </div>
            <div ng-show="!vm.customers || vm.customers.length == 0">
                <h3>You have no customers</h3>
            </div>
        </div>
        <!-- <div class="alert alert-warning text-center" data-ng-if="vm.customers.$resolved && !vm.customers.length">
  No Customers yet, why don't you <a data-ui-sref="customers.create">create one</a>?
</div> -->
</section>
